<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='markdown.css') }}">
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li>					<a href="{{ url_for('home') }}">Home</a></li>
	   <li>					<a href="{{ url_for('projects') }}">Projects</a></li>
   	   <li>					<a href="{{ url_for('demo') }}">Demo</a></li>
	   <li>					<a href="{{ url_for('documentation') }}">Documentation</a></li>
	   <li class="active">	<a href="{{ url_for('Contact') }}">Contact</a></li>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<article class="markdown-body">
		Questions about the mathematical model:
		<ul>
			<li>Dr. Nader Rezaei: naderrezaei@mail.usf.edu</li>
		</ul>
		Technical questions:
		<ul>
			<li>Minh Pham: minhpham@mail.usf.edu</li>
		</ul>
		General questions:
		<ul>
			<li><a href="http://cee.eng.usf.edu/faculty/qiongzhang/" target="_blank">Dr. Qiong Zhang</a></li>
			<li>Dr. Nancy Diaz-Elsayed: nancyd1@usf.edu  </li>
		</ul>

	</article>

	<hr>
	<footer>
		<p>Copyright © 2020, University of South Florida.  All Rights Reserved.  The contributor to the development of the web-based tool at the University of South Florida include:</p>
		<p>Supervisors: Dr. Qiong Zhang (lead), Dr. Nancy Diaz-Elsayed (modeling), Dr. Hadi Charkhgard (optimization)</p>
		<p>Modelers: Dr. Nader Rezaei,  Alvaro Sierra-Altamiranda, Dr. Zulqarnain Haider </p>
		<p>Developers: Minh Pham and Dr. Zulqarnain Haider </p>
		<p>Licensing available.  For any inquiries please reach out to qiongzhang@usf.edu</p>
	</footer>


</body>
</html>