<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='NavBarStyle.css') }}">
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li>					<a href="{{ url_for('index') }}">Home</a></li>
	   <li>					<a href="{{ url_for('projects') }}">Projects</a></li>
	   <li>					<a href="{{ url_for('login') }}">Login</a></li>
	   <li>					<a href="{{ url_for('logout') }}">Logout</a></li>
	   <li class="active">	<a href="{{ url_for('Contact') }}">Contact</a></li>
   	   <div class="identity">Hello 
	   		{% if Identity is none %} Anonymous {% else %} {{ Identity }} {% endif %}!
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	TBD
	<br>
	<a href="https://github.com/minhhpham/MASS-webserver">Source code</a>


</body>
</html>