<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='NavBarStyle.css') }}">
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li class="active">	<a href="{{ url_for('index') }}">Home</a></li>
	   <li>					<a href="{{ url_for('projects') }}">Projects</a></li>
	   <li>					<a href="{{ url_for('login') }}">Login</a></li>
	   <li>					<a href="{{ url_for('logout') }}">Logout</a></li>
	   <li>					<a href="{{ url_for('index') }}">Contact</a></li>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<br>
	<h1 align="center">WELCOME!</h1>
	<br>
	<p align="center">Project descriptions will go here</p>
	<br>
	<form action="{{ url_for('input_size') }}" method="get" align="center">
	    <input type="submit" value="Start" />
	</form>


</body>
</html>