<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='markdown.css') }}">
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li class="active">	<a href="{{ url_for('index') }}">Home</a></li>
	   <li>					<a href="{{ url_for('projects') }}">Projects</a></li>
	   <li>					<a href="{{ url_for('login') }}">Login</a></li>
	   <li>					<a href="{{ url_for('logout') }}">Logout</a></li>
	   <li>					<a href="{{ url_for('demo') }}">Demo</a></li>
	   <li>					<a href="{{ url_for('documentation') }}">Documentation</a></li>
	   <li>					<a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity">Hello 
	   		{% if Identity is none %} Anonymous {% else %} {{ Identity }} {% endif %}!
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<article class="markdown-body">
		<h1 align="center">WELCOME!</h1>
		<br>
		<p>This is a web-based tool that can help civil engineers and policymakers make optimal decisions in developing water reclamation and reuse chain. The tool will ask for information about population clusters under consideration and potential water-treatment locations, then use the provided information to mathematically minimize the costs and environmental impacts and to maximize the value of water recovery. Finally, the recommended designs are presented through intelligible visualizations.</p>
		
		<p>To view a quick demonstration, please take a tour at <a href="{{ url_for('demo') }}">Demo</a>.</p>
		
		<p>For guidance to use this tool, please read the <a href="{{ url_for('documentation') }}">Documentation</a>.</p>
		
		<p>If you have any question, please check the <a href="{{ url_for('Contact') }}">Contact</a> page.</p>

		<p>To start using the tool, please <a href="{{ url_for('login') }}">log in</a>.</p>

		<p>This tool is free and open-source. It was supported by the NSF #1454559.</p>

		<b>Browser Compatibility:</b> We have tested that this site functions well on Google Chrome, Mozilla FireFox, Microsoft Edge, and Safari. Microsoft Internet Explorer may or may not work.


	</article>

</body>
</html>