<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='HelpTips.css') }}">
	<title>Water Reclamation System Planning</title>
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li><a href="{{ url_for('index') }}">Home</a></li>
	   <li><a href="{{ url_for('projects') }}">Projects</a></li>
	   <li><a href="{{ url_for('demo') }}">Demo</a></li>
	   <li><a href="{{ url_for('documentation') }}">Documentation</a></li>
	   <li><a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity"> 
	   		projectID: {{ projectID }}
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->

	<br>
	{% if inputSize.errors %}
    <ul class="errors">
        {% for field_name, field_errors in inputSize.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li><font color="red">{{ inputSize[field_name].label }}: {{ error }}</font></li>
            {% endfor %}
        {% endfor %}
    </ul>
	{% endif %}
	<br>
	<h2 align="center">Project Information</h2>
	<form method="POST" action="{{ url_for('input_size') }}?projectID={{ projectID }}" align="center" >
		{{ inputSize.csrf_token }}
		<table align="center">
			<tr align="left">
				<td> 
					Total number of population clusters in the selected water service area: 
					<div class="help-tip"><p>Input the number of population clusters that you would like to model for your community. For each cluster, you will be inputting the current population, the growth rate, and location longitude and latitude. Max of 25 clusters is allowed.</p></div>
				</td>
				<td> {{ inputSize.NPop }} </td>
			</tr>
			<tr align="left">
				<td>
					Total number of candidate locations for implementation:
					<div class="help-tip"><p>Including existing locations that you are willing to modify</p></div>
				</td>
				<td> {{ inputSize.NPlant }} </td>
			</tr>
			<tr align="left">
				<td> Lifespan of the design: </td>
				<td> {{ inputSize.LifeSpan }} </td>
			</tr>
		</table>
		<br><br>
		<p align="center">
			<button onclick="location.href='{{ url_for(prev_page) }}'" type="button">Back</button>
			<input type="submit" value="Next"> 
		</p>
	</form>

	<footer>
		<p>Copyright © 2020, University of South Florida.  All Rights Reserved.  The contributor to the development of the web-based tool at the University of South Florida include:</p>
		<p>Supervisors: Dr. Qiong Zhang (lead), Dr. Nancy Diaz-Elsayed (modeling), Dr. Hadi Charkhgard (optimization)</p>
		<p>Modelers: Dr. Nader Rezaei,  Alvaro Sierra-Altamiranda, Dr. Zulqarnain Haider </p>
		<p>Developers: Minh Pham and Dr. Zulqarnain Haider </p>
		<p>Licensing available.  For any inquiries please reach out to qiongzhang@usf.edu</p>
	</footer>
	
</body>
</html>