<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<title>Water Reclamation System Planning</title>
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li><a href="{{ url_for('index') }}">Home</a></li>
	   <li><a href="{{ url_for('projects') }}">Projects</a></li>
	   <li><a href="{{ url_for('login') }}">Login</a></li>
	   <li><a href="{{ url_for('logout') }}">Logout</a></li>
	   <li><a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity">Hello 
	   		{% if Identity is none %} Anonymous {% else %} {{ Identity }} {% endif %}!
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->

	<br>
	{% if inputSize.errors %}
    <ul class="errors">
        {% for field_name, field_errors in inputSize.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li><font color="red">{{ inputSize[field_name].label }}: {{ error }}</font></li>
            {% endfor %}
        {% endfor %}
    </ul>
	{% endif %}
	<br>
	<form method="POST" action="{{ url_for('input_size') }}" align="center" >
		{{ inputSize.csrf_token }}
		<h2 align="center">How many population clusters do you have?</h2>
		<p align="center">{{ inputSize.NPop }}	</p>
		<h2 align="center">How many candidate locations for implementation of plants do you have?</h2>
		<p align="center">{{ inputSize.NPlant }}</p>
		<h2 align="center">What is the lifespan of your project?</h2>
		<p align="center">{{ inputSize.LifeSpan }}</p>
		<br><br>
		<p align="center">
			<button onclick="location.href='{{ url_for(prev_page) }}'" type="button">Back</button>
			<input type="submit" value="Next"> 
		</p>
	</form>


</body>
</html>