<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='NavBarStyle.css') }}">
</head>
<body>
    <!-- NAVIGATION BAR -->
    <div id='cssmenu'>
    <ul>
       <li>               <a href="{{ url_for('index') }}">Home</a></li>
       <li>               <a href="{{ url_for('projects') }}">Projects</a></li>
       <li class="active"><a href="{{ url_for('login') }}">Login</a></li>
       <li>               <a href="{{ url_for('logout') }}">Logout</a></li>
       <li>               <a href="{{ url_for('index') }}">Contact</a></li>
    </ul>
    </div>

    <!-- NAVIGATION BAR ENDS -->
	<br>
    <h2 align="center"> Please log in </h2>
    <form action="" method="POST" align="center">
    	<input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <p align="center">Username: <input type=text name="username"></p>
        <p align="center">Password: <input type=password name="password"></p>
        {% if login_failed %}
        	<p><font color="red">Wrong Username or Password</font></p>
        {% endif %}
        <p align="center"><input type=submit value=Login></p>
        <p align="center"><a href="{{ url_for('register') }}">Create an account</a></p>
    </form>
</body>
</html>

            