<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
    <script src='https://www.chartjs.org/dist/2.9.3/Chart.min.js'></script>
    <script src='https://www.chartjs.org/samples/latest/utils.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <style> #map { width: 50%; height: 500px} </style>
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li><a href="{{ url_for('index') }}">Home</a></li>
	   <li><a href="{{ url_for('projects') }}">Projects</a></li>
	   <li><a href="{{ url_for('demo') }}">Demo</a></li>
	   <li><a href="{{ url_for('documentation') }}">Documentation</a></li>
	   <li><a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity"> 
	   		projectID: {{ projectID }}
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<!-- BACK TO PROJECTS -->
	<br>
	<p align="center">
		<button onclick="location.href='{{ url_for('projects') }}'" type="button">Back to Projects</button>
	</p>
	<br>

	<!-- show the chart for selecting solutions -->
	<h1 align="center">Project {{ project_name }}</h1>
	<div style="width:50%;text-align:center;margin:auto;">
		<canvas id="values-chart" style="display:inline;"></canvas>
	</div>

	<!-- show details for each selected solution from the chart -->
	<h2 align="center">Selected Solution</h2>
	<p align="center">View details of each solution by clicking on the points on the graph above.</p>
	<h3 align="center" id="selected_solution"></h3>
	<table align="center" id="solution_details" class=blueTable></table>

	<!-- shows map of selected solution -->
	<br>
	<div id="this is for alignment" align="center">
        <div id="map"></div>
    </div>
    
	<!-- JS -->
	<script>
		var color = Chart.helpers.color;

		/* Construct solution details for all solutions, to be used by printSolutionDetails */
		var solution_details_all = [
			{% for item in solutionDetails %}
				[{{ item[0] }}, {{ item[1] }}, '{{ item[2] }}', '{{ item[3] }}', '{{ item[4] }}', '{{ item[5] }}', {{ item[6] }}, {{ item[7] }}, {{ item[8] }}, {{ item[9] }}],
			{% endfor %}
		];

		/* Construct data for solution chart from Jinja's data */
		var scatterChartData = {
			labels: [
					{% for item in valuesData %}
						'{{ item[0] }}',
					{% endfor %}
			],
			datasets: [{
				pointRadius: 7,
				tension: 0,
         		showLine: true,
         		fill:false,
				borderColor: window.chartColors.blue,
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				data: [
					{% for item in valuesData %}
						{
							x: {{ item[1] }},
							y: {{ item[2] }},
						},
					{% endfor %}
				]
			}]
		};

		/* define chart */
		var ctx = document.getElementById('values-chart').getContext('2d');
		ctx.width = 300;
		ctx.height= 150;
		window.myScatter = Chart.Scatter(ctx, {
			data: scatterChartData,
			options: {
			    legend: {
			        display: false
			    },
			    title: {
			    	display: true,
			    	text: 'Optimal Solutions'
			    },
			    scales: {
			    	xAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'ZC (M$/year)',
							fontStyle: 'bold'
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'ZE (ton CO2-eq/year)',
							fontStyle: 'bold'
						}
					}]
				},
			    tooltips: {
			        callbacks: {
			           label: function(tooltipItem, data) {
			                var label = data.labels[tooltipItem.index];
               				return label + ': (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
			           }
			        }
			    },
			    events: ['mousemove', 'click'],
			    onHover: (event, chartElement) => {
   					event.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
				},
			    onClick: function(c,i) {
				    e = i[0];
				    if (typeof e !== 'undefined'){
					    var index = e._index;
				    } else {
				    	var index = -1;
				    }
				    printSolutionDetails(index);
				    drawSolutionMap(index);
				}
			}
		});

		/* event handling function to print out details for selected point on graph */
		function printSolutionDetails(index){
			if (index !== -1){
				// get details of the selected solution
				var solution_details_selected = new Array();
				for (var i=0; i<solution_details_all.length; i++){
					if (solution_details_all[i][0] === index+1){
						solution_details_selected.push(solution_details_all[i]);
					}
				}
				
				// generate html text for the table
				var html_text = '';
				html_text += '<tr>';
				html_text += '<th>Location ID</th>';
				html_text += '<th>Location Name</th>';
				html_text += '<th>Technology</th>';
				html_text += '<th>Scale</th>';
				html_text += '<th>Servicing Clusters</th>';
				html_text += '<th>Receiving Capacity (m3/year)</th>';
				html_text += '<th>Sending Capacity (m3/year)</th>';
				html_text += '<th>Receiving Capacity (MGD)</th>';
				html_text += '<th>Sending Capacity (MGD)</th>';

				for (i=0; i<solution_details_selected.length; i++){
					html_text += '<tr>';
						html_text += '<td>'.concat(solution_details_selected[i][1], '</td>');
						html_text += '<td>'.concat(solution_details_selected[i][2], '</td>');
						html_text += '<td>'.concat(solution_details_selected[i][3], '</td>');
						html_text += '<td>'.concat(solution_details_selected[i][4], '</td>');
						html_text += '<td>'.concat(solution_details_selected[i][5], '</td>');
						html_text += '<td>'.concat(solution_details_selected[i][6], '</td>');
						html_text += '<td>'.concat(solution_details_selected[i][7], '</td>');
						html_text += '<td>'.concat(solution_details_selected[i][8], '</td>');
						html_text += '<td>'.concat(solution_details_selected[i][9], '</td>');
					html_text += '</tr>';
				}

				// render to html
				document.getElementById("selected_solution").innerHTML = "Solution ".concat(index+1);
				document.getElementById("solution_details").innerHTML = html_text;
			}
		}

		/*event handling function to refresh the map according to selected solution*/
		// global variables for population markers, location markers, and connecting LineString
		var population_markers = {{population_markers|safe}};
		var location_markers_allSols = {{location_markers_allSols|safe}};
		var location_markers;		// selected location markers
		var plants_pop_linestring_allSols = {{plants_pop_linestring|safe}};
		var connecting_linestrings;	// selected connection linestrings
		var map = null;
		var animated_markers; 		// animated markers on connection linestrings
		function drawSolutionMap(index){
			if (index !== -1){
				// clear the map
				if (map !== undefined && map !== null) {
					map.remove(); // should remove the map from UI and clean the inner children of DOM element
				}


				// draw map
				location_markers = location_markers_allSols[index];
				connecting_linestrings = plants_pop_linestring_allSols[index];
				L.mapbox.accessToken = '{{MAPBOX_KEY}}';
	            map = L.mapbox.map('map', 'mapbox.streets');
	            var population_layer = L.mapbox.featureLayer()
					                           .setGeoJSON(population_markers)
	                 					       .addTo(map);
		        var plant_layer = L.mapbox.featureLayer()
					                           .setGeoJSON(location_markers)
	                 					       .addTo(map);
	            var connection_layer = L.mapbox.featureLayer()
	            							   .setGeoJSON(connecting_linestrings)
	            							   .addTo(map);
	            map.fitBounds(population_layer.getBounds().extend(plant_layer.getBounds()));
	            map.scrollWheelZoom.disable();

	            // prepare data to animate movement on connection_layer
	            var i, j, origin, destin, x, y;	// intermediary variables to animate connection 
	            var steps = 500;				// control how fast the animation moves, higher = faster
	            animated_markers = [];
	            // create steps number of positions for each linestring
	            for (var i=0; i<=steps; i++){
	            	var position_list = []; 	// array of positions in this step
	            	// loop through connection linestrings
	            	for (j=0; j<connecting_linestrings.length; j++){
	            		origin = connecting_linestrings[j].geometry.coordinates[1];
	            		destin = connecting_linestrings[j].geometry.coordinates[0];
	            		x = origin[0] + (destin[0] - origin[0])/steps*i;	// coordinates of animation marker on this linestring
						y = origin[1] + (destin[1] - origin[1])/steps*i;
	            		position_list.push({
					        'type': 'FeatureCollection',
					        'features': [
					            {
				                'type': 'Feature',
				                'properties': {},
				                'geometry': {'type': 'Point', 'coordinates': [x,y]}
					            }
				        	]
					    });
	            	}
	            	// push this position list out
	            	animated_markers.push(position_list);
	            }

	            // animate movement on connection_layer
	            var animate_layer = L.mapbox.featureLayer(animated_markers[0],{
	    			pointToLayer: function(feature, latlon){
	    				return L.marker(latlon, {
							icon: L.icon({
								iconUrl: '{{ url_for('static',filename='water_marker.png') }}',
								iconSize: [25, 25]
							})
						});
	    			}
	   			});
	   			animate_layer.addTo(map);

	            var counter = 0;
				function animate(){
					if (counter === steps){
						counter = 0;
					} else{
						counter = counter + 1;
					}
					animate_layer.setGeoJSON(animated_markers[counter]);
					requestAnimationFrame(animate);

				}
				animate()
	        }
		}



	</script>

</body>
</html>