<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
	<style type="text/css">
		input[type=button], input[type=submit], input[type=reset] {
			padding: 4px 5px;font-size:14px; background-color:#478ec9; color:#e7e7e7; font-weight: bold;
		}
	</style>
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li><a href="{{ url_for('home') }}">Home</a></li>
	   <li><a href="{{ url_for('projects') }}">Projects</a></li>
	   <li><a href="{{ url_for('demo') }}">Demo</a></li>
	   <li><a href="{{ url_for('documentation') }}">Documentation</a></li>
	   <li><a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity"> 
	   		projectID: {{ projectID }}
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<br>

	<img src="{{ url_for('static',filename='progressBar/6Param.png') }}" style="width:auto;height:50%;display:block;margin-left:auto;margin-right:auto;">
	<br><br>
	<h1 align="center">Add parameters</h1>
	<div style="padding-right:200px; padding-left:200px; font-size:14px;">
		<p style="margin:0px;"><i>This page allows you to modify some parameters that drive the optimization process. The last column provides the definition of the parameter and the second column provides the unit for each parameter.</i></p>
		<p style="margin:0px;"><i>(The numbers below can be updated to suit your community)</i></p>
	</div>
	<br>
	<form method="POST" action="{{ url_for('parameter_input', projectID = projectID) }}" align="center">
		{{ params.csrf_token }}
		<table class=blueTable align="center">
			<tr> <!-- Table headers  -->
				<th>{{ params.rows[0].Label.label }}</th> 
				<th>{{ params.rows[0].Unit.label }}</th> 
				<th>{{ params.rows[0].Value.label }}</th> 		
				<th>{{ params.rows[0].Description.label}}</th>		
			</tr>
			{% for r in params.rows %}
			<tr> <!-- Table rows -->
				{{ r.Label(type="hidden") }}
				{{ r.Unit(type="hidden") }}
				{{ r.Description(type="hidden") }}
				<td>{{ r.Label.data }}</td>
				<td>{{ r.Unit.data|safe }}</td>
				<td>{{ r.Value }}</td> 
				<td>{{ r.Description.data }}</td>
			</tr>
			{% endfor %}
		</table>
		
		<br>
		<p align="center">
			<button onclick="location.href='{{ url_for(prev_page, projectID = projectID) }}'" type="button" style="padding: 4px 5px;font-size:14px; background-color:#478ec9; color:#e7e7e7; font-weight: bold;">Back</button>
			{{ params.submit }} 
		</p>
	</form>

	<hr>
	<footer>
		<p>Copyright © 2020, University of South Florida.  All Rights Reserved.  The contributor to the development of the web-based tool at the University of South Florida include:</p>
		<p>Supervisors: Dr. Qiong Zhang (lead), Dr. Nancy Diaz-Elsayed (modeling), Dr. Hadi Charkhgard (optimization)</p>
		<p>Modelers: Dr. Nader Rezaei,  Alvaro Sierra-Altamiranda, Dr. Zulqarnain Haider </p>
		<p>Developers: Minh Pham and Dr. Zulqarnain Haider </p>
		<p>Licensing available.  For any inquiries please reach out to qiongzhang@usf.edu</p>
	</footer>	


</body>
</html>