<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='HelpTips.css') }}">
	<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css"
      rel="stylesheet"
    />
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js"></script>
	<link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
	<style> #map { width: 50%; height: 500px} </style>
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li><a href="{{ url_for('index') }}">Home</a></li>
	   <li><a href="{{ url_for('projects') }}">Projects</a></li>
	   <li><a href="{{ url_for('demo') }}">Demo</a></li>
	   <li><a href="{{ url_for('documentation') }}">Documentation</a></li>
	   <li><a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity"> 
	   		projectID: {{ projectID }}
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<br>
	{% if plants.errors %}
    <ul class="errors">
        {% for field_name, field_errors in plants.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li><font color="red">{{ plants[field_name].label }}: {{ error }}</font></li>
            {% endfor %}
        {% endfor %}
    </ul>
	{% endif %}
	<br>
	<h1 align="center">Input your potential/existing water plant locations</h1>
	<form method="POST" action="{{ url_for('plant_input', projectID = projectID) }}" align="center">
		{{ plants.csrf_token }}
		<table class=blueTable align="center">
			<tr> <!-- Table headers  -->
				<th> Index 
					<div class="help-tip"><p>If you have an existing location that you do not want to modify, please do NOT include it. If you have an existing location that you want to change the scale but keep the existing technology, please check the box on the fifth column and select the technology. If you have an existing location but you are willing to implement a new technlogy on it, please check the box on the fifth columns and leave the sixth column empty. </p></div>
				</th> 
				<th>{{ plants.rows[0].LocationName.label }}</th> 
				<th>{{ plants.rows[0].lat.label }}</th> 
				<th>{{ plants.rows[0].lon.label }}</th> 
				<th>{{ plants.rows[0].existing_location.label }}
					<div class="help-tip"><p>Is this location currently operating?</p></div>
				</th>
				<th>{{ plants.rows[0].existing_tech.label }}
					<div class="help-tip"><p>What is the technology used in this current location? (N/A for non-current location or you are willing to change the technology for a current location) If a technology is not found in the drop-down list, click "Back" to return to the previous page and input that technology</p></div>
				</th>
			</tr>
			{% for r in plants.rows %}
			<tr> <!-- Table rows -->
				<td>{{ loop.index }}</td>
				<td>{{ r.LocationName }}</td>
				<td>{{ r.lat }}</td> 
				<td>{{ r.lon }}</td>
				<td>{{ r.existing_location }}</td>
				<td>{{ r.existing_tech }}</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		<p align="center">
			<button onclick="location.href='{{ url_for(prev_page, projectID = projectID) }}'" type="button">Back</button>
			<input type="submit" name="command" value="Next">
		</p>
	</form>

	<!-- lazy method: paste data from excel and parse -->
	<br><br>
	<p align="center">
		<strong> The data can also be copied and pasted from an Excel spreadsheet to the box below </strong>
		<br>
		<strong> (Excel table should have three columns that correspond to Location Name, Latitude, and Longitude as depicted above) </strong>
	</p>
	<form action="{{ url_for('plant_input', projectID = projectID) }}" method="POST" align = "center">
		{{ plants.csrf_token }}
    	<p align="center"><textarea name="ExcelData" rows="5" cols="70"></textarea></p>
    	<p align="center"><input type="submit" name="command" value="Insert Data"></p>
	</form>
	<br>
	

	<!-- SEARCH MAP -->
	<div align="center"><span id="json-response" style="color:red; font-weight:bold; font-size:12pt;">
		Search for a place by address. Coordinates will be displayed here!
	</span></div>
	<div id="Button Holder" align="center"></div>
	<br>
	<div id="this is for alignment" align="center">
		<div id="map" class="flex-child flex-child--grow bg-darken10 viewport-twothirds viewport-full-mm"></div>
	</div>

	<script>
		mapboxgl.accessToken = '{{ MAPBOX_KEY }}';
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [-77.0091, 38.8899],
			zoom: 13
		});

		var geocoder = new MapboxGeocoder({
			accessToken: mapboxgl.accessToken,
			mapboxgl: mapboxgl
		});

		map.addControl(geocoder, 'top-left');
		map.scrollZoom.disable();

		// global variable for storing long and lat
		var longitude = -1;
		var latitude = -1;

		map.on('load', function() {
			// Listen for the `geocoder.input` event that is triggered when a user
			// makes a selection
			geocoder.on('result', function(ev) {
				// display lon and lat
				var styleSpec = ev.result;
				var styleSpecBox = document.getElementById('json-response');
				var styleSpecText = JSON.stringify(styleSpec, null, 2);
				longitude = styleSpec.geometry.coordinates[0];
				latitude  = styleSpec.geometry.coordinates[1];
				var CoordinatesHTML = "".concat("longitude: ", longitude, "<br> latitude: ", latitude);
				styleSpecBox.innerHTML = CoordinatesHTML;
				// display the Add button
				var buttonHolder = document.getElementById('Button Holder');
				buttonHolder.innerHTML = "Add these coordinates to row <input id='Row Input' type='text' size=2> <button type='button' onclick='add_coordinates()'>Add</button>"
			});
		});

		function add_coordinates(){
			if (longitude!==-1 & latitude!==-1){
				// get row value
				var row = document.getElementById('Row Input').value-1;
				// find the Latitude box
				var LatitudeBox = document.getElementById("rows-".concat(row, "-lat"));
				// register value if not None
				if (LatitudeBox !== null){
					LatitudeBox.value = latitude;
				}
				// find the Longitude box
				var LongitudeBox = document.getElementById("rows-".concat(row, "-lon"));
				// register value if not None
				if (LongitudeBox !== null){
					LongitudeBox.value = longitude;
				}
			}
		}

	</script>

</body>
</html>