<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li><a href="{{ url_for('index') }}">Home</a></li>
	   <li><a href="{{ url_for('projects') }}">Projects</a></li>
	   <li><a href="{{ url_for('login') }}">Login</a></li>
	   <li><a href="{{ url_for('logout') }}">Logout</a></li>
	   <li><a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity">Hello 
	   		{% if Identity is none %} Anonymous {% else %} {{ Identity }} {% endif %}!
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<br>
	<h1 align="center">Input your populations</h1>
	<br>
	<form method="POST" action="{{ url_for('population_input') }}" align="center">
		{{ populations.csrf_token }}
		<table class=blueTable align="center">
			<tr> <!-- Table headers  -->
				<th> Index </th> 
				<th>{{ populations.rows[0].Name.label }}</th> 
				<th>{{ populations.rows[0].Pr.label }}</th>
				<th>{{ populations.rows[0].GrowthRate.label }}</th>
				<th>{{ populations.rows[0].lat.label }}</th> 
				<th>{{ populations.rows[0].lon.label }}</th> 
			</tr>
			{% for r in populations.rows %}
			<tr> <!-- Table rows -->
				<td>{{ loop.index }}</td>
				<td>{{ r.Name }}</td>
				<td>{{ r.Pr }}</td>
				<td>{{ r.GrowthRate }}</td>
				<td>{{ r.lat }}</td> 
				<td>{{ r.lon }}</td>
			</tr>
			{% endfor %}
		</table>
		
		<br>
		<p align="center">
			<button onclick="location.href='{{ url_for(prev_page) }}'" type="button">Back</button>
			<input type="submit" name = "command" value="Next">
		</p>
	</form>

	<!-- lazy method: paste data from excel and parse -->
	<br><br>
	<h4 align="center">If you do not want to type the inputs one-by-one, just copy and paste the data from Excel and I will try to parse the inputs for you. (do not include the headers)</h2>
	<form action="{{ url_for('population_input') }}" method="POST" align = "center">
		{{ populations.csrf_token }}
    	<p align="center"><textarea name="ExcelData" rows="5" cols="70"></textarea></p>
    	<br>
    	<p align="center"><input type="submit" name="command" value="Parse"></p>
	</form>


</body>
</html>