<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='HelpTips.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markdown.css') }}">
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li>					<a href="{{ url_for('index') }}">Home</a></li>
	   <li class="active">	<a href="{{ url_for('projects') }}">Projects</a></li>
	   <li>					<a href="{{ url_for('demo') }}">Demo</a></li>
	   <li>					<a href="{{ url_for('documentation') }}">Documentation</a></li>
	   <li>					<a href="{{ url_for('Contact') }}">Contact</a></li>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->

	<article class="markdown-body">
		<h2>Create a New Project</h2>
		<form method="POST" action="{{ url_for('projects') }}">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			<table>
				<tr align="left">
					<td>Project Description</td><td><textarea name="p_desc" rows="2" cols="50" placeholder="Describe this project in any way you want">{{ proj_description }}</textarea></td>
			</table>
			<br>

			{% if project_just_created %}
				<p>A new project has been created with Project ID <b>{{  projectID }}</b></p>
				<p>Please save this Project ID to retrieve the project later. If you lose it, you will have to start over again.</p>
				<p><input type="submit" value="Start this project" name="command"></p>
				<input type="hidden" name="projectID" value="{{ projectID }}">
			{% else %}
				<p><input type="submit" value="Create Project" name="command"></p>
			{% endif %}
		</form>

		<br>
		<h2>Retrieve a Project and check its status</h2>
		<form method="POST" action="{{ url_for('projects') }}">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
			<table>
				<tr align="left">
					<td>Project ID</td>
					<td><input required type="text" name="projectID" size="50" placeholder="the Project ID given when creating the project"></td>
					<td><input type="submit" value="Check project status" name="command"></td>
				</tr>
			</table>
		</form>
		<br>
		<!-- IF THE "check project status" button above was clicked, print the following -->
		{% if check_proj_status %}
			{% if project_status is none %}
				<p><font color="red">Project not found</font></p>
			{% else %}
				<table class=blueTable align="left">
					<tr>
						<th>Project ID</th><th>Project Description</th><th>Project status</th><th>Last time optimized</th><th>Process Time</th><th>Choose An Action</th>
					</tr>
					<tr>
						<td>{{ project_status['projectid'] }}</td>
						<td>{{ project_status['p_desc'] }}</td>
						<td>{{ project_status['status'] }}</td>
						<td>{{ project_status['last_optimized'] }}</td>
						<td>{{ project_status['process_time'] }}</td>
						<td align="left">
							<ul>
								<li><a href="{{ url_for('projects', projectID = projectID) }}">Refresh this page</a></li>
								<li><a href="{{ url_for('input_size', projectID = projectID) }}">Edit input data</a></li>
								{% if project_status['status'] != 'input uncompleted, not yet optimized' %}
									<li><a href="{{ url_for('review', projectID = projectID) }}">Review input data</a></li>
									<li>
										<form method="POST" action="{{ url_for('run_optimizer') }}" align="left">
											<input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
											<input id="projectID"  name="projectID"  type="hidden" value="{{ projectID }}">
											<input name="command" type="submit" value="Run optimizer" class="submitLink">
										</form>
									</li>
								{% endif %}
								{% if project_status['status'] == 'input completed, optimized solutions is ready' %}
									<li><a href="{{ url_for('output', projectID = projectID) }}">View output</a></li>
								{% endif %}
							</ul>
						</td>
					</tr>
				</table>
			{% endif %}
		{% endif %}

	<article></article>

</body>
</html>