<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='HelpTips.css') }}">
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li>					<a href="{{ url_for('index') }}">Home</a></li>
	   <li class="active">	<a href="{{ url_for('projects') }}">Projects</a></li>
	   <li>					<a href="{{ url_for('login') }}">Login</a></li>
	   <li>					<a href="{{ url_for('logout') }}">Logout</a></li>
	   <li>					<a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity">Hello 
	   		{% if Identity is none %} Anonymous {% else %} {{ Identity }} {% endif %}!
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<br>
	<h2 align="center"> Select from existing Projects: </h2>
	<table align="center">
		<tr><td><div class="help-tip" align="center"><p> We save data for each of your projects. You can come back later to review a project's data. You can submit computing requests for multiple projects, we have a computing queue for the optimizer and will notify you once calculation for a project is done. </p></div></td></tr>
	</table>
	<br>
	<form align="center" method="POST" action="{{ url_for('projects') }}">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<table class=blueTable align="center">
			<tr> <!-- Table headers  -->
				<th>Project Name</th> 
				<th>Project Description</th> 
				<th>Status</th>
				<th>Last time running the optimizer</th>
				<th>Results</th>
			</tr>
			{% for p in existing_projects %}
			<tr> <!-- Table rows -->	
					<td>
						<input type="submit" name="select project" value="{{ p['project_name'] }}" style="background:none;border:none;color:#069;text-decoration:underline;cursor: pointer;">
					</td>
					<td>{{ p['p_desc'] }}</td>
					<td>{{ p['Status'] }}</td>
					<td>{{ p['last_executed'] }}</td>
					<td> <a href="{{url_for('output')}}?project_name={{p['project_name']}}">Check</a> </td>
			</tr>
			{% endfor %}
		</table>
	</form>
	<br>
	<h2 align="center">Or create a new project:</h2>
	<form align="center" method="POST" action="{{ url_for('projects') }}">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<table align="center">
			<tr align="left">
				<td>Project Name</td><td><input required type="text" name="project_name"></td>
			</tr>
			<tr align="left">
				<td>Project Description</td><td><textarea name="p_desc" rows="2" cols="50"></textarea></td>
			</tr>
		</table>
		<br>
		<p align="center"><input type="submit" value="Create project" name="command"></p>
	</form>

</body>
</html>