<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <style> #map { width: 50%; height: 500px} </style>
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li><a href="{{ url_for('index') }}">Home</a></li>
	   <li><a href="{{ url_for('projects') }}">Projects</a></li>
	   <li><a href="{{ url_for('demo') }}">Demo</a></li>
	   <li><a href="{{ url_for('documentation') }}">Documentation</a></li>
	   <li><a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity"> 
	   		projectID: {{ projectID }}
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<br>
	<h1 align="center">Please review your inputs</h1>
	<h2 align="center">Project {{ project_name }}</h2>

	<!-------- DISPLAY POPULATIONS AND LOCATIONS ON MAPBOX ------------------------------->
	<div id="this is for alignment" align="center">
        <div id="map"></div>
        <script>
        	var test = {{plant_markers|safe}};
            L.mapbox.accessToken = '{{MAPBOX_KEY}}';
            var map = L.mapbox.map('map', 'mapbox.streets');
            var population_layer = L.mapbox.featureLayer()
				                           .setGeoJSON({{population_markers|safe}})
                 					       .addTo(map);
	        var plant_layer = L.mapbox.featureLayer()
				                           .setGeoJSON({{plant_markers|safe}})
                 					       .addTo(map);
            map.fitBounds(population_layer.getBounds().extend(plant_layer.getBounds()));
            map.scrollWheelZoom.disable();
        </script>
    </div>
    <br><br>

	<!-- input size ----------------------------------------------------------------------------------------->
	<table class=blueTable align="center">
		<tr>
			<th width="80%">Number of population clusters</th> 
			<td width="20%"><b>{{ nPop }}</b></td>
		</tr>
		<tr>
			<th width="80%">Number of plants</th> 
			<td width="20%"><b>{{ nPlant }}</b></td>
		</tr>
		<tr>
			<th width="80%">Project's lifespan</th> 
			<td width="20%"><b>{{ lifeSpan }}</b></td>
		</tr>
	</table>		
	<br>
	<!-- populations ------------------------------------------------------------------------------------------>
	<h2 align="center"> Populations </h2>
	<table class=blueTable align="center">
		<tr> <!-- Table headers  -->
			<th> Index </th> 
			<th> Cluster Name </th> 
			<th> Current Population </th> 
			<th> Population Growth Rate </th> 
			<th> Latitude </th> 
			<th> Longitude </th> 
			<th></th> 
		</tr>
		{% for r in populations %}
		<tr> <!-- Table rows -->
			<td>{{ r['index'] }}</td>
			<td>{{ r['name'] }}</td>
			<td>{{ r['pr'] }}</td>
			<td>{{ r['growthrate'] }}</td>
			<td>{{ r['lat'] }}</td> 
			<td>{{ r['lon'] }}</td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<!-- plants ------------------------------------------------------------------------------------------------->
	<h2 align="center"> Potential Locations </h2>
	<table class=blueTable align="center">
		<tr> <!-- Table headers  -->
			<th> Index </th> 
			<th> Location Name </th> 
			<th> Latitude </th> 
			<th> Longitude</th> 
			<th> Existing Location? </th>
			<th> Existing Technology </th>
		</tr>
		{% for r in plants %}
		<tr> <!-- Table rows -->
			<td>{{ r['index'] }}</td>
			<td>{{ r['locationname'] }}</td>
			<td>{{ r['lat'] }}</td> 
			<td>{{ r['lon'] }}</td>
			<td>{{ r['existing_location'] }}</td>
			<td>{{ tech_choices[r['existing_tech']|int-1][1] }}</td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<!-- Technologies  ------------------------------------------------------------------------------------------->
	<h2 align="center"> Technologies </h2>
	<table class=blueTable align="center" style="max-width:1000px;">
		{% if techs|length > 0 %}
			<tr> <!-- Table headers  -->
				<th> Technology </th> 
				<th> Scale </th>
				<th> Capacity Cap<sub>kt</sub> (m<sup>3</sup>/year) </th>
				<th> Fixed Cost CC<sub>kt</sub> ($/(m<sup>3</sup>/year)) </th>
				<th> Annual Cost OC<sub>t</sub> ($/m<sup>3</sup>) </th>
				<th> Selling price of reclaimed water SRW<sub>t</sub> ($/m<sup>3</sup>) </th>
				<th> Amount of greenhouse gas emission from process of each m3 of wastewater GP<sub>t</sub> (gr CO<sub>2</sub>-eq/m<sup>3</sup>) </th>
			</tr> 			
			{% for r in techs %}
				{% if r['scale'] == 'Small' %}
					<tr>
						<td rowspan="3">{{ r['technologyname'] }}</td>
						<td> Small </td> 
						<td>{{ r['capkt'] }}</td> 
						<td>{{ r['cckt'] }}</td> 
						<td>{{ r['oct'] }}</td>
						<td>{{ r['srwt'] }}</td> 
						<td>{{ r['gpt'] }}</td>
					</tr>
				{% endif %}
				{% if r['scale'] == 'Medium' %}
					<tr>
						<td> Medium </td> 
						<td>{{ r['capkt'] }}</td> 
						<td>{{ r['cckt'] }}</td> 
						<td>{{ r['oct'] }}</td>
						<td>{{ r['srwt'] }}</td> 
						<td>{{ r['gpt'] }}</td>
					</tr>
				{% endif %}								
				{% if r['scale'] == 'Large' %}
					<tr>
						<td> Large </td> 
						<td>{{ r['capkt'] }}</td> 
						<td>{{ r['cckt'] }}</td> 
						<td>{{ r['oct'] }}</td>
						<td>{{ r['srwt'] }}</td> 
						<td>{{ r['gpt'] }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		{% endif %}
	</table>
	<br>
	<!-- Parameters --------------------------------------------------------------------------------------->
	<h2 align="center"> Parameters </h2>
	<table class=blueTable align="center">
		<tr> <!-- Table headers  -->
			<th> label </th> 
			<th> Unit </th> 
			<th> Value </th> 				
			<th> Description </th> 				
		</tr>
		{% for r in params %}
		<tr> <!-- Table rows -->
			<td>{{ r['label'] }}</td>
			<td>{{ r['unit']|safe }}</td>
			<td>{{ r['value'] }}</td> 
			<td>{{ r['description'] }}</td>
		</tr>
		{% endfor %}
	</table>
	<br>

	<!-- RUN -->
	<h2 align="center">Ready to run optimizer?</h2>
	<form method="POST" action="{{ url_for('run_optimizer') }}" align="center">
		<input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
		<input id="projectID"  name="projectID"  type="hidden" value="{{ projectID }}">
		<input name="command" type="submit" value="Run optimizer">
	</form>
	<p align="center"><button onclick="location.href='{{ url_for(prev_page, projectID = projectID) }}'" type="button">Back</button></p>
	<br>

</body>
</html>