<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li><a href="{{ url_for('index') }}">Home</a></li>
	   <li><a href="{{ url_for('projects') }}">Projects</a></li>
	   <li><a href="{{ url_for('login') }}">Login</a></li>
	   <li><a href="{{ url_for('logout') }}">Logout</a></li>
	   <li><a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity">Hello 
	   		{% if Identity is none %} Anonymous {% else %} {{ Identity }} {% endif %}!
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<br>
	<h1 align="center">Please review your inputs</h1>
	<br>
	<h2 align="center">Project {{ project_name }}</h2>
	<!-- input size ----------------------------------------------------------------------------------------->
	<table class=blueTable align="center">
		<tr>
			<th width="80%">Number of population clusters</th> 
			<td width="20%"><b>{{ nPop }}</b></td>
		</tr>
		<tr>
			<th width="80%">Number of plants</th> 
			<td width="20%"><b>{{ nPlant }}</b></td>
		</tr>
		<tr>
			<th width="80%">Project's lifespan</th> 
			<td width="20%"><b>{{ lifeSpan }}</b></td>
		</tr>
	</table>		
	<br>
	<!-- populations ------------------------------------------------------------------------------------------>
	<h2 align="center"> Populations </h2>
	<table class=blueTable align="center">
		<tr> <!-- Table headers  -->
			<th> Index </th> 
			<th> Cluster Name </th> 
			<th> Current Population </th> 
			<th> Population Growth Rate </th> 
			<th> Latitude </th> 
			<th> Longitude </th> 
			<th></th> 
		</tr>
		{% for r in populations %}
		<tr> <!-- Table rows -->
			<td>{{ r['index'] }}</td>
			<td>{{ r['name'] }}</td>
			<td>{{ r['pr'] }}</td>
			<td>{{ r['growthrate'] }}</td>
			<td>{{ r['lat'] }}</td> 
			<td>{{ r['lon'] }}</td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<!-- plants ------------------------------------------------------------------------------------------------->
	<h2 align="center"> Plants </h2>
	<table class=blueTable align="center">
		<tr> <!-- Table headers  -->
			<th> Index </th> 
			<th> Location Name </th> 
			<th> Latitude </th> 
			<th> Longitude</th> 
			<th> Existing Location? </th>
			<th> Existing Technology </th>
		</tr>
		{% for r in plants %}
		<tr> <!-- Table rows -->
			<td>{{ r['index'] }}</td>
			<td>{{ r['locationname'] }}</td>
			<td>{{ r['lat'] }}</td> 
			<td>{{ r['lon'] }}</td>
			<td>{{ r['existing_location'] }}</td>
			<td>{{ tech_choices[r['existing_tech']|int-1][1] }}</td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<!-- Technologies  ------------------------------------------------------------------------------------------->
	<h2 align="center"> Technologies </h2>
	<table class=blueTable align="center">
		{% if techs|length > 0 %}
			<tr> <!-- Table headers  -->
				<th> Technology </th> 
				<th> Scale </th>
				<th> Capkt (m3/year) </th>
				<th> CCkt ($/(m3/year))</th>
				<th> OCt ($/m3) </th>
				<th> SRWt ($/m3) </th>
				<th> GPt (gr CO2-eq/m3) </th>
			</tr> 			
			{% for r in techs %}
				{% if r['scale'] == 'Small' %}
					<tr>
						<td rowspan="3">{{ r['technologyname'] }}</td>
						<td> Small </td> 
						<td>{{ r['capkt'] }}</td> 
						<td>{{ r['cckt'] }}</td> 
						<td>{{ r['oct'] }}</td>
						<td>{{ r['srwt'] }}</td> 
						<td>{{ r['gpt'] }}</td>
					</tr>
				{% endif %}
				{% if r['scale'] == 'Medium' %}
					<tr>
						<td> Medium </td> 
						<td>{{ r['capkt'] }}</td> 
						<td>{{ r['cckt'] }}</td> 
						<td>{{ r['oct'] }}</td>
						<td>{{ r['srwt'] }}</td> 
						<td>{{ r['gpt'] }}</td>
					</tr>
				{% endif %}								
				{% if r['scale'] == 'Large' %}
					<tr>
						<td> Large </td> 
						<td>{{ r['capkt'] }}</td> 
						<td>{{ r['cckt'] }}</td> 
						<td>{{ r['oct'] }}</td>
						<td>{{ r['srwt'] }}</td> 
						<td>{{ r['gpt'] }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		{% endif %}
	</table>
	<br>
	<!-- Parameters --------------------------------------------------------------------------------------->
	<h2 align="center"> Parameters </h2>
	<table class=blueTable align="center">
		<tr> <!-- Table headers  -->
			<th> label </th> 
			<th> Unit </th> 
			<th> Value </th> 				
		</tr>
		{% for r in params %}
		<tr> <!-- Table rows -->
			<td>{{ r['label'] }}</td>
			<td>{{ r['unit'] }}</td>
			<td>{{ r['value'] }}</td> 
		</tr>
		{% endfor %}
	</table>

	<!-- RUN -->
	<h2 align="center">Ready to run optimizer?</h2>
	<form method="POST" action="{{ url_for('run_optimizer') }}" align="center">
		<input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
		<p>
			<button onclick="location.href='{{ url_for(prev_page) }}'" type="button">Back</button>
			<input name="command" type="submit" value="Run optimizer">
		</p>
	</form>

</body>
</html>