<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li><a href="{{ url_for('index') }}">Home</a></li>
	   <li><a href="{{ url_for('projects') }}">Projects</a></li>
	   <li><a href="{{ url_for('login') }}">Login</a></li>
	   <li><a href="{{ url_for('logout') }}">Logout</a></li>
	   <li><a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity">Hello 
	   		{% if Identity is none %} Anonymous {% else %} {{ Identity }} {% endif %}!
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<br>
	{% if techs.errors %}
    <ul class="errors">
        {% for field_name, field_errors in techs.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li><font color="red">{{ techs[field_name].label }}: {{ error }}</font></li>
            {% endfor %}
        {% endfor %}
    </ul>
	{% endif %}
	<br>
	<h1 align="center">Select the treatment technologies for implementation in the candidate sites</h1>
	<br>
	<form method="POST" action="{{ url_for('tech_input') }}" align="center">
		{{ techs.csrf_token }}
		<table class=blueTable align="center">
			<tr> <!-- Table headers  -->
				<th> Check to Select </th> 
				<th> Technology </th> 
				<th> Scale </th>
				<th>{{ techs.default_techs.rows[0].Small.Capkt.label }}</th>
				<th>{{ techs.default_techs.rows[0].Small.CCkt.label }}</th>
				<th>{{ techs.default_techs.rows[0].Small.OCt.label }}</th>
				<th>{{ techs.default_techs.rows[0].Small.SRWt.label }}</th>
				<th>{{ techs.default_techs.rows[0].Small.GPt.label }}</th>
			</tr>
			{% for r in techs.default_techs.rows %}
				<tr> <!-- Table rows -->
					<td rowspan="3">{{ r.Select }}</td>
					<td rowspan="3">{{ r.Technology.data }}</td>
					<td>Small</td> 
					<td>{{ r.Small.Capkt }}</td> 
					<td>{{ r.Small.CCkt }}</td> 
					<td>{{ r.Small.OCt }}</td>
					<td>{{ r.Small.SRWt }}</td> 
					<td>{{ r.Small.GPt }}</td>
					<td>{{ r.Technology(type="hidden") }} </td>
				</tr>
				<tr>
					<td>Medium</td> 
					<td>{{ r.Medium.Capkt }}</td> 
					<td>{{ r.Medium.CCkt }}</td> 
					<td>{{ r.Medium.OCt }}</td>
					<td>{{ r.Medium.SRWt }}</td> 
					<td>{{ r.Medium.GPt }}</td> 								
					<td>{{ r.Technology(type="hidden") }} </td>
				</tr>
				<tr>
					<td>Large</td> 
					<td>{{ r.Large.Capkt }}</td> 
					<td>{{ r.Large.CCkt }}</td> 
					<td>{{ r.Large.OCt }}</td>
					<td>{{ r.Large.SRWt }}</td> 
					<td>{{ r.Large.GPt }}</td>
					<td>{{ r.Technology(type="hidden") }} </td>			
				</tr>
			{% endfor %}
		</table>

		<br>
		<h2>If any technology is not listed above, insert them below</h2>
		<p align="center">
			Total number of additional technologies:
			{{ techs.n_additional }} {{ techs.addMoreTechs }}
		</p>

		<br>

		<table class=blueTable align="center">
			{% if techs.additional_techs.rows.__len__() > 0 %}
				<tr> <!-- Table headers  -->
					<th> Technology </th> 
					<th> Scale </th>
					<th>{{ techs.additional_techs.rows[0].Small.Capkt.label }}</th>
					<th>{{ techs.additional_techs.rows[0].Small.CCkt.label }}</th>
					<th>{{ techs.additional_techs.rows[0].Small.OCt.label }}</th>
					<th>{{ techs.additional_techs.rows[0].Small.SRWt.label }}</th>
					<th>{{ techs.additional_techs.rows[0].Small.GPt.label }}</th>
				</tr> 			
				{% for r in techs.additional_techs.rows %}
					<tr>
						<td rowspan="3">{{ r.Technology }}</td>
						<td>Small</td> 
						<td>{{ r.Small.Capkt }}</td> 
						<td>{{ r.Small.CCkt }}</td> 
						<td>{{ r.Small.OCt }}</td>
						<td>{{ r.Small.SRWt }}</td> 
						<td>{{ r.Small.GPt }}</td>
					</tr>
					<tr>
						<td>Medium</td> 
						<td>{{ r.Medium.Capkt }}</td> 
						<td>{{ r.Medium.CCkt }}</td> 
						<td>{{ r.Medium.OCt }}</td>
						<td>{{ r.Medium.SRWt }}</td> 
						<td>{{ r.Medium.GPt }}</td> 								
					</tr>
					<tr>
						<td>Large</td> 
						<td>{{ r.Large.Capkt }}</td> 
						<td>{{ r.Large.CCkt }}</td> 
						<td>{{ r.Large.OCt }}</td>
						<td>{{ r.Large.SRWt }}</td> 
						<td>{{ r.Large.GPt }}</td> 								
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	<p align="center">
		<button onclick="location.href='{{ url_for(prev_page) }}'" type="button">Back</button>
		{{ techs.submit }}
	</p>
	</form>
	<br>
</body>
</html>