<!DOCTYPE html>
<html>
<head>
	<title>Water Reclamation System Planning</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='NavBarStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='TableStyle.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='HelpTips.css') }}">
	<style type="text/css">
		input[type=button], input[type=submit], input[type=reset] {
			padding: 4px 5px;font-size:14px; background-color:#478ec9; color:#e7e7e7; font-weight: bold;
		}
	</style>
</head>
<body>
	<!-- NAVIGATION BAR -->
	<div id='cssmenu'>
	<ul>
	   <li><a href="{{ url_for('home') }}">Home</a></li>
	   <li><a href="{{ url_for('projects') }}">Projects</a></li>
	   <li><a href="{{ url_for('demo') }}">Demo</a></li>
	   <li><a href="{{ url_for('documentation') }}">Documentation</a></li>
	   <li><a href="{{ url_for('Contact') }}">Contact</a></li>
	   <div class="identity"> 
	   		projectID: {{ projectID }}
	   </div>
	</ul>
	</div>

	<!-- NAVIGATION BAR ENDS -->
	<br>
	{% if data_validation_failed %}
    <p><font color="red">Data validation failed! Please check your input! Make sure you left no box blank.</font></p>
	{% endif %}
	<br>

	<img src="{{ url_for('static',filename='progressBar/4Tech.png') }}" style="width:auto;height:50%;display:block;margin-left:auto;margin-right:auto;">
	<br><br>
	<h1 align="center">Treatment Technologies</h1>
	<div style="padding-right:200px; padding-left:200px; font-size:14px;">
		<p style="margin:0px;"><i>In this section, we ask for specifications of the potential wastewater treatment technologies:</i></p>
		<br>
		<p style="margin:0px;"><i><b>Small Scale:</b></i></p>
		<p style="margin:0px;"><i>Population 1 to 40.</i></p>
		<p style="margin:0px;"><i>Capacity of 0.42 - 16.8 cubic meters per day.</i></p>
		<br>
		<p style="margin:0px;"><i><b>Medium Scale:</b> </i></p>
		<p style="margin:0px;"><i>Population 20 to 47,000. </i></p>
		<p style="margin:0px;"><i>Capacity of 8.4 - 19,740 cubic meters per day.</i></p>
		<br>
		<p style="margin:0px;"><i><b>Large Scale: </b></i></p>
		<p style="margin:0px;"><i>Population of 9,090 or more. </i></p>
		<p style="margin:0px;"><i>Capacity of more than 3,817.8 cubic meters per day </i></p>
	</div>
	<p align="center"><i>(The numbers below can be updated to suit your community)</i></p>
	<br>
	<form method="POST" action="{{ url_for('tech_input', projectID = projectID) }}" align="center">
		{{ techs.csrf_token }}
		<table class=blueTable align="center" style="max-width:1200px;">
			<tr> <!-- Table headers  -->
				<th> Check to Select </th> 
				<th> Technology </th> 
				<th> Scale </th>
				<th> Capacity <br>Cap<sub>kt</sub> (m<sup>3</sup>/year) </th>
				<th> Fixed Cost <br>CC<sub>kt</sub> ($/(m<sup>3</sup>/year)) </th>
				<th> Annual Cost <br>OC<sub>t</sub> ($/m<sup>3</sup>) </th>
				<th> Selling price of reclaimed water <br>SRW<sub>t</sub> ($/m<sup>3</sup>) </th>
				<th> Unit greenhouse gas emissions from treatment <br>GP<sub>t</sub> (gr CO<sub>2</sub>-eq/m<sup>3</sup>) <div class="help-tip">
					<p>The unit greenhouse gas (GHG) emissions (GP<sub>t</sub>) can be calculated as follows:
					GP<sub>t</sub> = EF*&Sigma;E<sub>p</sub>
					Where EF is the emissions factor for the region (kg CO<sub>2</sub>-e/kWh) and E<sub>p</sub> is the unit electricity consumption for each wastewater treatment process (kWh/m<sup>3</sup>). Emissions factors for regions within the United States’ electrical grid can be found on the US EPA’s eGRID website. Additionally, the unit electricity consumption for common wastewater treatment processes can be extracted from various sources (e.g., process data, research from the Electric Power Research Institute).
					</p>
					</div> </th>
			</tr>
			{% for r in techs.default_techs.rows %}
				<tr> <!-- Table rows -->
					<td rowspan="3">{{ r.Select }}</td>
					<td rowspan="3">{{ r.Technology.data }}</td>
					<td>Small</td> 
					<td>{{ r.Small.Capkt }}</td> 
					<td>{{ r.Small.CCkt }}</td> 
					<td>{{ r.Small.OCt }}</td>
					<td>{{ r.Small.SRWt }}</td> 
					<td>{{ r.Small.GPt }}</td>
					<td>{{ r.Technology(type="hidden") }} </td>
				</tr>
				<tr>
					<td>Medium</td> 
					<td>{{ r.Medium.Capkt }}</td> 
					<td>{{ r.Medium.CCkt }}</td> 
					<td>{{ r.Medium.OCt }}</td>
					<td>{{ r.Medium.SRWt }}</td> 
					<td>{{ r.Medium.GPt }}</td> 								
					<td>{{ r.Technology(type="hidden") }} </td>
				</tr>
				<tr>
					<td>Large</td> 
					<td>{{ r.Large.Capkt }}</td> 
					<td>{{ r.Large.CCkt }}</td> 
					<td>{{ r.Large.OCt }}</td>
					<td>{{ r.Large.SRWt }}</td> 
					<td>{{ r.Large.GPt }}</td>
					<td>{{ r.Technology(type="hidden") }} </td>			
				</tr>
			{% endfor %}
		</table>

		<br>
		<h2>If any technology is not listed above, insert them below</h2>
		<p align="center">
			Total number of additional technologies:
			{{ techs.n_additional }} {{ techs.addMoreTechs }}
		</p>

		<br>

		<table class=blueTable align="center">
			{% if techs.additional_techs.rows.__len__() > 0 %}
				<tr> <!-- Table headers  -->
					<th> Technology </th> 
					<th> Scale </th>
					<th>{{ techs.additional_techs.rows[0].Small.Capkt.label }}</th>
					<th>{{ techs.additional_techs.rows[0].Small.CCkt.label }}</th>
					<th>{{ techs.additional_techs.rows[0].Small.OCt.label }}</th>
					<th>{{ techs.additional_techs.rows[0].Small.SRWt.label }}</th>
					<th>{{ techs.additional_techs.rows[0].Small.GPt.label }}</th>
				</tr>
				{% for r in techs.additional_techs.rows %}
					<tr>
						<td rowspan="3">{{ r.Technology }}</td>
						<td>Small</td> 
						<td>{{ r.Small.Capkt }}</td> 
						<td>{{ r.Small.CCkt }}</td> 
						<td>{{ r.Small.OCt }}</td>
						<td>{{ r.Small.SRWt }}</td> 
						<td>{{ r.Small.GPt }}</td>
					</tr>
					<tr>
						<td>Medium</td> 
						<td>{{ r.Medium.Capkt }}</td> 
						<td>{{ r.Medium.CCkt }}</td> 
						<td>{{ r.Medium.OCt }}</td>
						<td>{{ r.Medium.SRWt }}</td> 
						<td>{{ r.Medium.GPt }}</td> 								
					</tr>
					<tr>
						<td>Large</td> 
						<td>{{ r.Large.Capkt }}</td> 
						<td>{{ r.Large.CCkt }}</td> 
						<td>{{ r.Large.OCt }}</td>
						<td>{{ r.Large.SRWt }}</td> 
						<td>{{ r.Large.GPt }}</td> 								
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	<p align="center">
		<button onclick="location.href='{{ url_for(prev_page, projectID = projectID) }}'" type="button" style="padding: 4px 5px;font-size:14px; background-color:#478ec9; color:#e7e7e7; font-weight: bold;">Back</button>
		{{ techs.submit }}
	</p>
	</form>
	<br>

	<footer>
		<p>Copyright © 2020, University of South Florida.  All Rights Reserved.  The contributor to the development of the web-based tool at the University of South Florida include:</p>
		<p>Supervisors: Dr. Qiong Zhang (lead), Dr. Nancy Diaz-Elsayed (modeling), Dr. Hadi Charkhgard (optimization)</p>
		<p>Modelers: Dr. Nader Rezaei,  Alvaro Sierra-Altamiranda, Dr. Zulqarnain Haider </p>
		<p>Developers: Minh Pham and Dr. Zulqarnain Haider </p>
		<p>Licensing available.  For any inquiries please reach out to qiongzhang@usf.edu</p>
	</footer>
		
</body>
</html>